# Core functionality - changes here should be rare!
/src/app.py                   @AIWander
/src/backend/database.py      @AIWander
/src/backend/routers/auth.py  @AIWander

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AIWander
